* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #939393;
  font-size: 12px;
  font-weight: 400;
  color: #939393;
  line-height: 1.65em;
  height:100%;
  background:#fff;
  margin:0;
  padding:0;
}

nav {
  position: relative;
  width: 100%;
  z-index: 10;
  white-space: nowrap;
  transition: background .3s;
  transition-duration: .3s,.6s;
  transition-property: background,opacity;

    ul {
      display: block;
      list-style-type: none;
      li a {
        text-decoration: none;
      }
    }

  &.login {
    background: #bdbdbd;
    height: 20px;
    ul {
      float: right;
      line-height: 20px;
      margin: 0 10px;

      li {
        display: inline-block;
        margin: 0 2px;

        a {
          font-size: 12px;
          color: #fff;
        }
      }
    }
  }

  &.menu {
    background: #fff;
    padding: 10px;

    .logo {
      text-decoration: none;
    }

    ul {
      float: right;
      line-height: 20px;
      margin: 0 10px;

      li {
        a {
          font-size: 19px;
          color: #000;
          transition: color .3s;

          &:hover {
            color: #ccc;
          }
        }
      }
    }
  }
}
