<!DOCTYPE html>
<html>
  <head>
    <title>Data Viewer</title>
    <%= stylesheet_link '/css/main.css' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>

  <body>
    <div id="modal_container"></div>
  </body>
  <%= javascript_tag '/js/main.js' %>
</html>
