<!DOCTYPE html>
<html>
  <head>
    <title>Data Viewer</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700"
          rel="stylesheet"
          type="text/css">
    <%= stylesheet_link '/css/main.css' %>
  </head>

  <body>
    <header></header>
    <div class="login-status">
      <nav class="login">
        <ul><li><a href="/login">Login</a></li></ul>
      </nav>
    </div>
    <nav class="menu">
      <a class="logo" href="">DashDash</a>
    </nav>
    <footer></footer>
  </body>
</html>
